.info-component{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 1;
    position: relative;
    width: 100%;
}
.person-info{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding-bottom: 26px;
}
.person-info > img{
    width: 246px;
    height: 246px;
    border-radius: 50%;
    object-fit: cover;
}
.person-description{
    width: 432px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
}
.info-component h2 {
    color: #F93B1D;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 42px;
    overflow-wrap: break-word;
    max-width: 300px;
}
.info-row{
    display: flex;
    align-items: baseline;
    gap: 12px;
}
.about-me{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-row > img{
    width: 16.65px;
    height: 16.64px;
}
.info-row > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #1A1A1A;
}
.info-component h3{
    font-weight: 700;
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #F93B1D;
}
.info-component p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.info-component .place{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}
.info-component .date{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919191;
}
.person-experience-info{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #C8C8C8;
    gap: 16px;
    padding: 26px 0;
}
.education{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 26px 0;
    border-top: 1px solid #C8C8C8;
}
.logo{
    margin-top: 20px;
    width: 42px;
    height: 42px;
}
.positioning-info{
    width: 100%;
    padding: 50px 70px;
    height: 1080px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: #FFF;
}
