.textarea-div{
    padding-bottom: 58px;
    border-bottom: 1px solid #C1C1C1;
}
.form-quantity{
    display: flex;
    gap: 31px;
    flex-direction: column;
}
.navigation-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    width: 798px;
    margin: 0 150px 65px;
}
.add-button{
    align-self: flex-start;
    color: #FFF;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #62A1EB;
    border-radius: 4px;
    padding: 18px 60px;
    margin-bottom: 61px;
    cursor: pointer;
}
textarea{
    position: relative;
}

.textarea-div{
    position: relative;
}

.textarea-div .invalid-span{
    content: "";
    display: inline-block;
    background: url('../../images/invalid.png');
    width: 21px;
    height: 18.75px;
    position: absolute;
    bottom: 55%;
}
.textarea-div .valid{
    border: 1px solid #98E37E;
    background-image: url("../../images/valid.png");
    background-repeat: no-repeat;
    background-position: 98%;
}
.textarea-div .invalid{
    border: 1px solid #EF5050;
}
input[type='date']{
    margin-bottom: 25px;
}
input[type='date'].valid{
    border: 1px solid #98E37E;
    background-image: none !important;
}
input[type='date'].invalid{
    border: 1px solid #EF5050;
}
